#about {
	display: flex;
	flex-direction: column;

	width: 15rem;

	flex-grow: 0;
	flex-shrink: 0;
}

#about #profile_pic {
	height: 25rem;

	background-image:
		url("/shared/media/em.png"),
		linear-gradient(to right, var(--color-accent-1), var(--color-accent-2));
	background-size: auto 30rem;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

#about #contact {
	display: flex;
	flex-direction: column;
}

#contact a {
	padding: 0.5rem 1rem;
	vertical-align: middle;
}

#contact a i {
	width: 1rem;
}