<!-- <main id="fun_stuff"> -->
<main id="portfolio"> <!-- for now, we'll use the same formatting as the portfolio page -->
	<section id="art">
		<h2>Art</h2>
		<div class="portfolio_items">
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Art Item A</h3>
				<img src="https://placehold.co/100x100">
				<p>Details about Art Item A.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Art Item B</h3>
				<img src="https://placehold.co/100x100">
				<p>Details about Art Item B. This one has a longer description.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Art Item C</h3>
				<img src="https://placehold.co/160x90">
				<p>Details about Art Item C.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Art Item D</h3>
				<img src="https://placehold.co/100x100">
				<p>Details about Art Item D.</p>
			</a>
		</div>
	</section>
</main>