nav {
	display: flex;
	flex-direction: row;
}

nav a {
	font-size: var(--font-l);
	padding: 2rem 1rem 1rem;
}

#title {
	padding: 2rem 1rem 1rem;
}

nav a::before {
	background-size: 100% 200%;
	background-image:
		linear-gradient(to top, var(--color-bg-transparent) 50%, var(--color-bg) 50%),
		linear-gradient(to right, var(--color-accent-1), var(--color-accent-2));
}

nav a:hover::before {
	background-position: 0 -100%;
}