<main id="portfolio">
	<section id="Web-Based Trainings (WBTs)">
		<h2>Web-Based Trainings (WBTs)</h2>
		<div class="portfolio_items">
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Portfolio Item A</h3>
				<img src="https://placehold.co/600x400">
				<p>Details about Portfolio Item A.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Portfolio Item B</h3>
				<img src="https://placehold.co/700x300">
				<p>Details about Portfolio Item B. This one has a longer description.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Portfolio Item C</h3>
				<img src="https://placehold.co/800x300">
				<p>Details about Portfolio Item C.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Portfolio Item D</h3>
				<img src="https://placehold.co/900x400">
				<p>Details about Portfolio Item D.</p>
			</a>
		</div>
	</section>
	<section id="Videos">
		<h2>Videos</h2>
		<div class="portfolio_items">
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Portfolio Item E</h3>
				<img src="https://placehold.co/160x90">
				<p>Details about Portfolio Item E.</p>
			</a>
			<a class="portfolio_item" target="_blank" href="linso.online">
				<h3>Portfolio Item F</h3>
				<img src="https://placehold.co/160x90">
				<p>Details about Portfolio Item F. This one has a longer description.</p>
			</a>
		<a class="portfolio_item" target="_blank" href="linso.online">
			<h3>Portfolio Item G</h3>
			<img src="https://placehold.co/160x90">
			<p>Details about Portfolio Item G.</p>
		</a>
	</section>
</main>