<section id="about">
	<!-- <div id="contact">
		<img src="https://via.placeholder.com/150"/>
		<a href="mailto:em@linso.online">em@linso.online</a>
		<img src="https://via.placeholder.com/150"/>
		<a href="">linso.online</a>
		<img src="https://via.placeholder.com/150"/>
		<a href="">in/em-linso</a>
		<img src="https://via.placeholder.com/150"/>
	</div> -->
	<div id="contact">
		<a href="mailto:em@linso.online">
			<i class="fa-solid fa-envelope"></i>
			<span>em@linso.online</span>
		</a>
		<a target="_blank" href="https://linso.online">
			<i class="fa-solid fa-globe"></i>
			<span>linso.online</span>
		</a>
		<a target="_blank" href="https://www.linkedin.com/in/em-linso">
			<i class="fa-brands fa-linkedin"></i>
			<span>in/em-linso</span>
		</a>
	</div>
</section>